*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Chewy", monospace;
}

html {
    scroll-behavior: smooth;
}

/* style buat seluruh website */
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

img {
    width: 100%;
}

.section content {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1300px;
}

.section-title {
    text-align: center;
    padding: 60px 0 100px;
    text-transform: uppercase;
    font-size: x-large;
}

.section-title:after {
    content: "";
    width: 80px;
    height: 5px;
    display: block;
    margin: 10px auto 0;
    border: 50px;
    background-color: #97667b;
}

/* style untuk navbar */
header{
    position: fixed;
    width: 100%;
    z-index: 5;
    background-color: #97667b;
}

header .navbar {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

.navbar .nav-logo .logo-text {
    color: #FBC1B5;
    font-size: x-large;
    font-weight: 600;
}

.navbar .nav-menu {
    display: flex;
    gap: 10px;
}

.navbar .nav-menu .nav-link {
    padding: 10px 18px;
    color: white;
    font-size: medium;
    border-radius: 30px;
    transition: 0.3s ease;
}

.nav2nd {
  background-color: #FFE7E9;
  color: #97667b;
  font-size: medium;
  border-radius: 30px;
  transition: 0.3s ease;
  padding: 10px 18px;
}

.nav2nd:hover {
  background-color: #FBC1B5;
  color: #97667b;
}

.navbar .nav-menu .nav-link:hover {
    background-color: #FBC1B5;
    color: #97667b;
}

/* style untuk bagian welcome */
.welcome-section {
    min-height: 100vh;
    background-color: #97667b;
}

.welcome-section .section-content {
    display: flex;
    align-items: center;
    min-height: 100vh;
    padding-left: 150px;
    color: white;
    justify-content: space-between;
}

.welcome-section .welcome-details .title {
    font-size: 50px;
    color: #FBC1B5;
    font-family: "Petemoss", monospace;
}

.welcome-section .welcome-details .subtitle {
    margin-top: 8px;
    max-width: 70%;
    font-size: x-large;
    font-weight: 300;
}

.welcome-section .welcome-details .description {
    max-width: 70%;
    margin: 24px 0 40px;
    font-size: medium;
}

.welcome-section .welcome-details .buttons{
    display: flex;
    gap: 23px;
}

.welcome-section .welcome-details .button {
    padding: 10px 26px;
    border: 2px solid transparent;
    background-color: #FBC1B5;
    color: #97667b;
    border-radius: 30px;
    font-weight: 300;
    transition: 0.3s ease;
}

.welcome-section .welcome-details .button:hover,
.welcome-section .welcome-details .contact-us {
    color: #FBC1B5;
    border-color: #FBC1B5;
    background: transparent;
}

.welcome-section .welcome-details .contact-us:hover {
    color: #97667b;
    border-color: #FBC1B5;
    background-color: #FBC1B5;
}

.welcome-section .welcome-img-wrapper {
    max-width: 400px;
    margin-right: 150px;
}

.tracking-in-expand-fwd {
	-webkit-animation: tracking-in-expand-fwd 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand-fwd 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2025-11-7 0:25:48
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand-fwd
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
            transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
            transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}

.bounce-in-right {
	-webkit-animation: bounce-in-right 3s both;
	        animation: bounce-in-right 3s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2025-11-7 0:24:2
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-in-right
 * ----------------------------------------
 */
@-webkit-keyframes bounce-in-right {
  0% {
    -webkit-transform: translateX(600px);
            transform: translateX(600px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateX(68px);
            transform: translateX(68px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateX(32px);
            transform: translateX(32px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-right {
  0% {
    -webkit-transform: translateX(600px);
            transform: translateX(600px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateX(68px);
            transform: translateX(68px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateX(32px);
            transform: translateX(32px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

/* Style untuk about */

.about-section {
    padding: 120px 0;
    background-color: #FFE7E9;
}

.about-section .section-content {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

.about-section .about-img-wrapper .about-img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 1000px;
    margin-left: 70px;
}

.about-section .about-details .section-title {
    padding: 0;
}

.about-section .about-details {
    max-width: 50%;
    margin-right: 50px;
}

.about-section .about-details .text {
    line-height: 30px;
    margin: 50px 0px 30px;
    text-align: center;
    font-size: large;
}

.about-section .about-details .buttons {
    display: flex;
    gap: 23px;
    justify-content: center;
    padding-top: 10px;
}

.about-section .about-details .button {
    padding: 10px 26px;
    border: 2px solid transparent;
    background-color: #97667b;
    color: #FBC1B5;
    border-radius: 10px;
    font-weight: 300;
    transition: 0.3s ease;
}

.about-section .about-details .button:hover {
    color: #FFE7E9;
    border-color: #E68572;
    background-color: #E68572;
}

.about-section .social-link-list {
    display: flex;
    gap: 25px;
    justify-content: center;
}

.about-section .social-link-list .social-link {
    color: #97667b;
    font-size: large;
    transition: 0.2s ease;
}

.about-section .social-link-list .social-link:hover {
    color: #FBC1B5;
} 

/* Products style */

.products-section {
  background-image: url(BG1.png);
  height: 180vh;
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
}

.products-section .slider-wrapper {
  overflow: hidden;
  margin: 0 60px 50px;
}

.products-section .products {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 35px;
}

.products-section .products .products-image {
  width: 300px;
  margin-bottom: 30px;
  border-radius: 20px;
}

.products-section .products .name {
  margin-bottom: 16px;
  font-size: 40px;
  color: #E68572;
  font-family: "Petemoss", monospace;
}

.products-section .products .desc {
  line-height: 25px;
  color: #97667b;
  width: 50%;
}

.products-section .swiper-slide-button {
  color: #97667b;
  margin-top: -50px;
  transition: 0.3s ease;
}

.products-section .swiper-slide-button:hover {
  color: white;
}

.products-section .buttons {
    display: flex;
    gap: 23px;
    justify-content: center;
    padding-top: 10px;
}

.products-section .button {
    padding: 10px 26px;
    border: 2px solid transparent;
    background-color: #97667b;
    color: #FBC1B5;
    border-radius: 10px;
    font-weight: 300;
    transition: 0.3s ease;
}

.products-section .button:hover {
    color: #FFE7E9;
    border-color: #E68572;
    background-color: #E68572;
}

/* Contact Style */

.contact-section {
  padding: 50px 0 100px;
  background-color: #97667b;
}

.contact-section .section-title {
  color: #FFE7E9;
  font-size: xx-large;
}

.contact-section .section-title:after {
    content: "";
    width: 80px;
    height: 5px;
    display: block;
    margin: 10px auto 0;
    border: 50px;
    background-color: #FFE7E9;
}

.contact-section .section-content {
  display: flex;
  gap: 48px;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 170px;
}

.contact-section .contact-info-list .contact-info {
  display: flex;
  gap: 20px;
  margin: 15px 0;
  align-items: center;
  color: #FFE7E9;
}

.contact-section .contact-info-list .contact-info i {
  font-size: medium;
}

.contact-section .contact-form .form-input {
  width: 200%; 
  box-sizing: border-box;
  display: flex;
  height: 55px;
  padding: 0 12px;
  outline: none;
  margin-bottom: 16px;
  background-color: #FFE7E9;
  border-radius: 15px;
  border: 1px solid #FBC1B5;
}

.contact-section .contact-form {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact-section .contact-form .form-input:focus {
  border-color: #E68572;
}

.contact-section .contact-form textarea {
  width: 100%;
  height: 150px;
  padding: 12px;
  resize: vertical; 
  box-sizing: border-box;
}

.contact-section .contact-form .submit-button {
  padding: 10px 26px;
  margin-top: 10px;
  color: #97667b;
  font-weight: 300;
  font-size: medium;
  background-color: #FBC1B5;
  border-radius: 25px;
  border: 1px solid #FBC1B5;
  transition: 0.3s ease;
}

.contact-section .contact-form .submit-button:hover {
  color: #FBC1B5;
  background: transparent;

}

/* style footer */

.footer-section {
  padding: 20px 0;
  background-color: #764f60;
}

.footer-section .section-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.footer-section :where(.copyright-text, .social-link, .policy-link) {
  color: #FFE7E9;
  transition: 0.2s ease;
}

.footer-section .social-link-list {
  display: flex;
  gap: 25px;
}

.footer-section .social-link-list .social-link {
  font-size: large;
}

.footer-section .social-link-list .social-link:hover, .footer-section .policy-text .policy-link:hover {
  color: #FBC1B5;
}

.footer-section .policy-text .separator {
  margin: 0 5px;
  color: #FFE7E9;

}
