* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Chewy", monospace;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #FFE7E9;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 9%;
    background-color: #E68572;
    box-shadow: 0 2px 10px #8b5146;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    font-size: 25px;
    color: #FFE7E9;
    text-decoration: none;
    font-weight: 600;
}

#cart-icon {
    position: relative;
    display: flex;
    font-size: 30px;
    cursor: pointer;
    transition: 0.5s ease;
}

#cart-icon:hover, .cart-icon-2:hover {
    color: #97667b;
}

.cart-icon-2 {
    font-size: 30px;
    padding-left: 55%;
    cursor: pointer;
    transition: 0.5s ease;
    color: #FFE7E9;
}

#cart-icon .cart-item-count {
    position: absolute;
    top: 0;
    right: -6px;
    width: 20px;
    height: 20px;
    background: #97667b;
    border-radius: 50%;
    font-size: 12px;
    color: #FFE7E9;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.shop {
    padding: 100px 9% 30px;
}

.section-title {
    font-size: 35px;
    text-align: center;
    margin-bottom: 15px;
    color: #E68572;
}

.product-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
}

.product-box .img-box {
    display: flex;
    border-radius: 10px;
    overflow: hidden;
}

.product-title {
    color: #E68572;
}

.img-box img {
    width: 100%;
    transition: 0.5s;
}

.img-box img:hover {
    transform: scale(1.1);
}

.product-box .product-title {
    font-size: 20px;
    margin-top: 10px;
}

.product-box .price-and-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price-and-cart .price {
    font-size: 18px;
    font-weight: 500;
    color: #E68572;
}

.price-and-cart .add-cart {
    padding: 10px;
    background-color: #97667b;
    border-radius: 6px;
    font-size: 20px;
    color: #FFE7E9;
    cursor: pointer;
}

.cart {
    position: fixed;
    top: 0;
    right: -100%;
    width: 360px;
    height: 100%;
    background: #FFE7E9;
    box-shadow: -2px 0 10px #a8999a;
    padding: 65px 20px 40px;
    z-index: 100;
    overflow: auto;
    transition: 1s;
}

.cart.active {
    right: 0;
}

.cart-title {
    text-align: center;
    font-size: 30px;
    color: #E68572;
}

.cart-box {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.cart-box img {
    width: 100px;
    height: 100px;
    border-radius: 6px;
    object-fit: cover;
    margin-right: 20px;
}

.cart-detail {
    display: grid;
    gap: 8px;
    margin-right: auto;
    color: #E68572;
}

.cart-product-title {
    font-size: 16px;
    line-height: 1;
}

.cart-price {
    font-weight: 500;
}

.cart-quantity {
    display: flex;
    width: 100px;
    border: 1px solid #a8999a;
    border-radius: 6px;
}

.cart-quantity button {
    background: transparent;
    width: 30px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #E68572;
}

.cart-quantity #decrement {
    color: #a8999a;
}

.cart-quantity .number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    border-left: 1px solid #a8999a;
    border-right: 1px solid #a8999a;
    cursor: default;
}

.cart-remove {
    font-size: 25px;
    cursor: pointer;
    color: #E68572;
}

.total {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top: 1px solid #a8999a;
    margin-top: 20px;
    font-size: 18px;
    color: #E68572;
}

.total-price {
    margin-left: 10px;
    font-weight: 600;
    color: #E68572;
}

.btn-buy {
    display: block;
    padding: 10px 30px;
    background: #97667b;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    color: #FFE7E9;
    margin: 20px auto 0;
    cursor: pointer;
}

#cart-close {
    position: absolute;
    top: 20px;
    right: 15px;
    font-size: 35px;
    cursor: pointer;
    color: #E68572;
}

/* Contact Style */

.contact-section {
  padding: 50px 0 100px;
  background-color: #97667b;
}

.contact-section .section-title {
  color: #FFE7E9;
  font-size: xx-large;
}

.contact-section .section-title:after {
    content: "";
    width: 80px;
    height: 5px;
    display: block;
    margin: 10px auto 0;
    border: 50px;
    background-color: #FFE7E9;
}

.contact-section .section-content {
  display: flex;
  gap: 48px;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 170px;
}

.contact-section .contact-info-list .contact-info {
  display: flex;
  gap: 20px;
  margin: 15px 0;
  align-items: center;
  color: #FFE7E9;
}

.contact-section .contact-info-list .contact-info i {
  font-size: medium;
}

.contact-section .contact-form .form-input {
  width: 200%; 
  box-sizing: border-box;
  display: flex;
  height: 55px;
  padding: 0 12px;
  outline: none;
  margin-bottom: 16px;
  background-color: #FFE7E9;
  border-radius: 15px;
  border: 1px solid #FBC1B5;
}

.contact-section .contact-form {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact-section .contact-form .form-input:focus {
  border-color: #E68572;
}

.contact-section .contact-form textarea {
  width: 100%;
  height: 150px;
  padding: 12px;
  resize: vertical; 
  box-sizing: border-box;
}

.contact-section .contact-form .submit-button {
  padding: 10px 26px;
  margin-top: 10px;
  color: #97667b;
  font-weight: 300;
  font-size: medium;
  background-color: #FBC1B5;
  border-radius: 25px;
  border: 1px solid #FBC1B5;
  transition: 0.3s ease;
}

.contact-section .contact-form .submit-button:hover {
  color: #FBC1B5;
  background: transparent;

}

/* style footer */

.footer-section {
  padding: 20px 0;
  background-color: #764f60;
}

.footer-section .section-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.footer-section :where(.copyright-text, .social-link, .policy-link) {
  color: #FFE7E9;
  transition: 0.2s ease;
}

.footer-section .social-link-list {
  display: flex;
  gap: 25px;
}

.footer-section .social-link-list .social-link {
  font-size: large;
}

.footer-section .social-link-list .social-link:hover, .footer-section .policy-text .policy-link:hover {
  color: #FBC1B5;
}

.footer-section .policy-text .separator {
  margin: 0 5px;
  color: #FFE7E9;
}